# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environments
empv/
venv/
.venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
build/
.next/

# Test/cache
.pytest_cache/
.coverage
htmlcov/