# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Virtual environments
empv/
venv/
.venv/
env/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment / secrets
.env
.env.*
!.env.example